// reecribi variales bootstrap
$rojo: #F34F51;
$verde: #0098AE;
$oscuro: #212121;
$gris: #b5b5b5;


//asigne paleta de colores a bootstrap


$secondary: $verde;
$primary: $rojo;
$dark:$oscuro;


//tipografia
$display-font-weight: 900;
$headings-font-weight: 700;


//card

$card-border-color: transparent;

//nav-link

$nav-link-padding-x:                0rem !default;
$nav-link-color:                    $gris;
$nav-link-hover-color:              darken($gris,10%);


@import '../../node_modules/bootstrap/scss/bootstrap.scss';